

.background1 {
    background-image: url('./img/shadyoaks.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 800px;
    width: 1200px;

}

#playbutton {
    position: absolute;
    font-size: 50px;
    left: 570px;
    top: 350px;
}

h1 {
    position: absolute;
    left: 450px;
    text-align: center;
}


#background {
    background-image: url("./img/tarmac.jpg");
    position: relative;
    height:800px;
    width: 1200px;

}

#player {
    background-image: url("./img/old-man7.png");
    position: absolute;
    background-size: cover;
    height: 50px;
    width: 50px;
    top: 700px;
    left:550px;
}

/* enemy */
.cat {
    background-image: url('./img/undefined.jpg');
    background-size: cover;
    background-position: center;
    position: absolute;
    height: 50px;
    width: 50px;
    top: 100px;
    left: 550px;
}

#enemies {
    height: 800px;
    width: 1200px;
    position: absolute;
}

#missiles {
    height: 800px;
    width: 1200px;
    position: absolute;
}

.missile {
    background-image: url('./img/FF4D00-0.8.png');
    height: 16px;
    width: 16px;
    position: absolute;
    background-color: red;
}

